@import "intl-tel-input/build/css/intlTelInput.css";

.iti__flag {
    background-image: url("../../node_Modules/intl-tel-input/build/img/flags.png");
}

@media (min-resolution: 2x) {
    .iti__flag {
        background-image: url("../../node_Modules/intl-tel-input/build/img/flags@2x.png");
    }
}

.invalid-feedback {
    display: inherit;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.857rem;
    color: #ea5455;
}

.form-control:invalid,
.form-control.is-invalid {
    border-color: #ea5455;
    border: 1px solid #e53b3b;
    padding-right: calc(1.45em + 1.142rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23ea5455'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23ea5455' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.3625em + 0.2855rem) center;
    background-size: calc(0.725em + 0.571rem) calc(0.725em + 0.571rem);
}

.form-control:invalid:focus,
.form-control.is-invalid:focus {
    border-color: #ea5455;
    box-shadow: 0 0 0 0.25rem rgba(234, 84, 85, 0.25);
}

.iti {
    display: block;
}

textarea.form-control:invalid,
textarea.form-control.is-invalid {
    padding-right: calc(1.45em + 1.142rem);
    background-position: top calc(0.3625em + 0.2855rem) right
        calc(0.3625em + 0.2855rem);
}

.form-select.is-invalid {
    border-color: #ea5455;
}
.fl-wrapper[data-position^="top-"]
{
    top: 50% !important,
}

.fl-wrapper[data-position$="-right"]
{
    top: 50% !important,
}